go 1.22

toolchain go1.22.1

use (
	./lib/go/anyframer
	./lib/go/csvframer
	./lib/go/framesql
	./lib/go/gframer
	./lib/go/jsonframer
	./lib/go/macros
	./lib/go/restds
	./lib/go/transformations
	./lib/go/utils
	./lib/go/xmlframer
)
