name: Backed libraries
on:
  pull_request:
    paths:
      - "lib/go/**"
  push:
    branches:
      - main
    paths:
      - "lib/go/**"
defaults:
  run:
    shell: bash
    working-directory: ./
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go environment
        uses: actions/setup-go@v4
        with:
          go-version: "1.22.1"
      - name: Validate environment
        run: |
          echo "-------- node version -----"
          node --version
          echo "-------- npm version -----"
          npm --version
          echo "-------- yarn version -----"
          yarn --version
          echo "-------- go version -----"
          go version
      - name: Test backend
        run: npx --package=turbo@latest -- turbo test:backend
